@{
    ViewData["Title"] = "Search Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Book Finder Application</h1>
    <div class="button">
        <form asp-controller="Search" asp-action="NewSearch" method="get">
            <input id="newGameButton" class="buttonTransition" type="submit" value="New Search" />
        </form>
    </div>
</div>


